.st0{fill:#88B238;}
.st1{fill:#2C561A;}
.st2{fill:#429627;}
.st3{fill:#2E2E3A;}
.st4{fill:#FFFFFF;}
.st5{fill:#C2D379;}
.st6{fill:#9BA563;}
.st7{fill:#231F20;}
.st8{fill:url(#SVGID_1_);}
.st9{fill:url(#SVGID_2_);}
.st10{fill:url(#SVGID_3_);stroke:#231F20;stroke-width:13;stroke-miterlimit:10;}
.st11{fill:url(#SVGID_4_);stroke:#231F20;stroke-width:13;stroke-miterlimit:10;}
.st12{fill:none;stroke:#231F20;stroke-width:20;stroke-miterlimit:10;}
.st13{fill:#231F20;stroke:#231F20;stroke-width:20;stroke-miterlimit:10;}

